<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

        <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-plus-round" menu-toggle="right" ng-click="newTask()">
            </button>
        </ion-nav-buttons>


    </ion-nav-bar>






      <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

</ion-side-menus>
